body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Style the header and navbar */
header {
    background-color: #21b7d9;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Style the logo */
.logo img {
    max-width:100%;
    height:auto;
    display:block;
    margin:0 auto;
   /* Adjust the height as needed */
}

/* Style the navigation links */
.nav-links {
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Add hover effect to links */
.nav-links a:hover {
    color: #ff9900;
}
body {
    background-color:#faffff;
    margin: 0;
    padding: 15px;
        }

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 17px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    color: black;
}

p {
    font-size: 20px;
    line-height: 1.5;
    font-family: Georgia, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#vision {
    max-width: 800px;
    margin: 15px auto;
    padding: 15px;
    background-color: lightgreen;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
}
#ez{
    max-width: 800px;
    margin: 20px auto;
    padding: 17px;
    background-color: lightcoral;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align:center; 
    font-family: georgia, sans-serif;
    color:white;
    font-weight:bold;
}
#mission {
    max-width: 800px;
    margin: 15px auto;
    padding: 15px;
    background-color: blue;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
}
.quote {
    max-width: 800px;
    margin: 15px auto;
    background-color: violet;
    padding:21px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
}
 footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.cover {
    max-width: 800px;
    margin: 15px auto;
    padding: 15px;
    background-color: grey;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align:center;
}
        .logo{
            background-color:#222422;
        }
